# {{ .ProjectNameTitle }}

{{ .ProjectNameTitle }} is a project that does something.

## Getting Started

1. Clone the repository
2. Run `make setup` to install dependencies
3. Run `make run` to start the server

## Running Tests

Run `make test` to run the tests.

## Linting

Run `make lint` to run the linter.

## Formatting

Run `make format` to format the code.

## Generating Code

Run `make gen` to generate the code.

## Running the Server

Run `make run` to start the server.

## Running the Server with Docker

Run `make docker-up` to start the server with Docker.

## Running the Server with Docker Compose

Run `make docker-compose-up` to start the server with Docker Compose.

## Running the Server with Docker Compose