formatter:
  type: basic
  include_document_start: false
exclude:
  - .github/workflows/remote_workflow.yaml
  - .github/workflows/pull_request.yaml
  - kubernetes/production.yaml
  - kubernetes/homol.yaml
  - kubernetes/staging.yaml
  - protos/buf.yaml
  - protos/bufx.yaml
  - config/config.yaml
  - config/test.yaml
  - config/staging.yaml
  - config/local.yaml
  - config/homol.yaml
  - config/production.yaml
  - mockery.yaml 