package kafka

import (
	"go.uber.org/fx"

	"github.com/NSXBet/nsf/pkg/kafkax/v3"
)

var Module = fx.Module(
	"kafka-handlars",
	kafkax.ProvideHandler(NewExample{{ .ProjectNamePascalCase }}Listener),
)
