kubernetes:
  base:
    metadata:
      team: {{ .Team }}
    sourceRepo:
      name: {{ .ProjectName }}
      org: NSXBet
    secretsManager:
      enabled: true
      secretsName: production/{{ .ProjectName }}/betnacional
    monoRepo:
      appsFolder: apps-config
      argoCDValues: helms/argocd/values.yaml
      repository: monorepo-gitops
    containerRegistry:
      url: 492684252576.dkr.ecr.us-east-1.amazonaws.com
    deployConfig:
      cluster: EKS-NSX
      environment: production
      steps:
        - build
        - push
        - versioning
        - deploy
      service:
        istio: enabled
  apps:
    - name: {{ .ProjectName }}-grpc
      dockerfile: ./Dockerfile
      imagePullPolicy: Always
      kind: deployment
      revisionHistoryLimit: 1
      secretsManager:
        enabled: true
        secretsName: production/{{ .ProjectName }}/betnacional
      args:
        - grpc
      hpa:
        targetCPUUtilizationPercentage: 75
        minReplicas: 3
        maxReplicas: 20
      resources:
        limits:
          cpu: 900m
          memory: 512Mi
        requests:
          cpu: 400m
          memory: 256Mi
      serviceAccount:
        awsRoleArn: arn:aws:iam::492684252576:role/{{ .ProjectName }}-production
      envs:
        - name: APP_ENVIRONMENT
          value: "production"
        - name: SKIN
          value: "betnacional"
      service:
        metrics:
          port: 2112
          path: /metrics
        istio: true
        ports:
          - containerPort: 9090
            name: worker-{{ .ProjectName }}
            virtualservices:
              - gateway: internal-gateway
                hosts:
                  - {{ .ProjectName }}-production.nsx.services
