kubernetes:
  apps:
    - name: {{ .ProjectName }}-kafka-worker
      dockerfile: ./Dockerfile
      imagePullPolicy: Always
      kind: deployment
      revisionHistoryLimit: 1
      secretsManager:
        enabled: true
        secretsName: staging/{{ .ProjectName }}/betdev
      args:
        - kafka-worker
      resources:
        limits:
          cpu: 900m
          memory: 256Mi
        requests:
          cpu: 400m
          memory: 256Mi
      serviceAccount:
        awsRoleArn: arn:aws:iam::492684252576:role/{{ .ProjectName }}-staging
      envs:
        - name: APP_ENVIRONMENT
          value: "staging"
        - name: SKIN
          value: "betdev"
      service:
        healthcheck:
          grpc: true
          initialDelaySeconds: 10
          interval: 5
          path: /grpc.health.v1.Health.Check
          port: 9090
          timeoutSeconds: 5
        metrics:
          port: 2112
          path: /metrics
        istio: true
